# ignored basic workspace folders
.metadata/
.recommenders/

# ignored basic project files and folders
**/*.log
**/bin/
**/.classpath
**/.settings

# ignored projects
AgentServerFile/

# ignored test server files and folders
_testServers/*/*
# excluded test server files
!_testServers/*/eula.txt
!_testServers/*/spigot-*.jar